RewriteEngine On
RewriteBase /remon/

# Jika bukan file/directory nyata, arahkan ke index.php (front controller)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]
